/* Importing Lato font */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

/* Applying general styles */
body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Container styles */
.container {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background: #def3f0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Title styles */
.title-bold {
  font-weight: 700;
  margin-bottom: 8px;
  display: block;
}

/* Input styles */
input[type="text"] {
  width: calc(100% - 24px);
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
}
/*same code to uper*/
.email_password_Specail {
  width: calc(100% - 24px);
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
}
/*margin sequence: top, right, bottom, left*/
.width_set_inputs {
  width: calc(110% - 24px);
  padding: 12px 20px;
  margin: 8px 2px 10px 0px;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
}
input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

input::placeholder {
  color: #aaa;
  font-style: italic;
}
.em_pass {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
/* Button styles */
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin: 8px 0;
  font-weight: 600;
}

button:hover {
  background-color: #0056b3;
}

/* Centered button style for "Generate PDF" */
.generate-pdf-btn {
  display: block;
  width: 90%;
  margin: 20px auto;
}

/* Flex container styles */
.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  margin: 5px;
  padding: 10px;
  background-color: #fff6a5;
  border-radius: 6px;
  font-weight: 600;
  border: 1px solid #000000;
}

/* Styling for hex color boxes */
.color-box {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 4px;
}

/* Styling for font names */
.font-name {
  display: inline-block;
  margin: 5px;
  padding: 8px;
  background-color: #57da9b;
  border-radius: 4px;
}

/* Container for email information */
.email_info {
  display: inline-block;
  margin: 5px;
  padding: 8px;
  background-color: #c6f7ff;
  border-radius: 4px;
  font-weight: 600;
}

/* Container for password information */
.password_info {
  display: inline-block;
  margin: 5px;
  padding: 8px;
  background-color: #ffe0b2;
  border-radius: 4px;
  font-weight: 600;
}
#ep_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.ep_info {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 5px;
  padding: 8px;
  background-color: #2a3b3d;
  border-radius: 14px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
}

/* Font name styles */
.font-name {
  margin: 10px;
}

/* Link styles */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.hex-codes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
}
#btnem_pass {
  display: block;
  width: calc(60% - 24px);
  margin: 10px auto 5px auto;
}
.cross {
  color: white;
  background-color: red;
  padding: 5px 7px;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  margin: auto 10px;
  font-size: 12px;
}
.cross_flat {
  display: block;
  width: 100%;
  margin: 0px;
  padding: 3px;
}
.cross:hover {
  box-shadow: 0px 0px 6px 1px #92ff4f;
  background-color: #6c0404;
}
.inner-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.inner-div-font {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0px 10px;
  margin: -15px 0px;
}
.addline {
  width: 100%;
  border: 0.1px solid black;
  margin: 30px 0px 30px 0px;
}

.multi_btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#canvas {
  display: none;
}
.Firstbtn {
  background-color: #ffa111;
}
.Firstbtn:hover {
  background-color: #8b5a0f;
}
.Secondbtn {
  background: cadetblue;
}
.Secondbtn:hover {
  background: #3a6163;
}
.lastbtn {
  background: #96af09;
}
.lastbtn:hover {
  background: #405205;
}
#btn_h3_font {
  background: #9c02c2;
}
#btn_h3_font:hover {
  background: #400459;
}
#btn_h4_5_6_font {
  background: #d71803;
}
#btn_h4_5_6_font:hover {
  background: #540a0a;
}
